html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: darkgray;
}

.editor {
    width: 100%;
}

.block {
    width: 100%;
}

.block-header {
    height: 1.1em;
    width: 100%;
    background-color: white;
    cursor: text;
    white-space: pre-wrap;
}

.block-children {
    margin-left: 40px;
}